.main {
  margin-top: auto;
}

.cat-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  height: 100%;
}

.cat-img-container {
  max-width: 100%;
  height: 350px;
  max-height: 350px;
	border-radius: 16px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cat-img {
  max-width: inherit;
  max-height: inherit;
  border-radius: 10px;
  object-fit: contain;
  border: 1px solid #ff69b4;
  box-shadow: 0 0 15px 5px rgba(255,100,180.5);
}

.cat-buttons {
	display: flex;
	gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cat-button {
  background-color: #ff69b4;
  border: none;
  color: #fff;
  font-size: 1em;
  box-shadow: 0 0 10px 2px rgba(255, 105, 180, .5);
  font-weight: 600;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  transition: all 0.3s;
  user-select: none;
}

.cat-button:active {
  user-select: none;
  box-shadow: 0 0 16px 6px rgba(255, 105, 180, .4);
  opacity: 0.9;
}

@media screen and (min-width: 1367px) {
  .cat-button {
    height: 68px;
    width: 160px;
  }
  .cat-img-container {
    
    height: 450px;
    max-height: 450px;
  }
}

@media screen and (max-width: 700px) {
  .img {
    height: 100%;
  }
}